<template>
  <main>
    <Header/>
    <section class="materi mb-10 md:mb-20 mt-8">
      <div class="container">
        <div class="flex justify-between items-center">
          <button class="btn-icon hidden md:flex" @click="back">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="25px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
              <path d="M20 11v2H8l5.5 5.5l-1.42 1.42L4.16 12l7.92-7.92L13.5 5.5L8 11h12z" fill="#626262"/>
              <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
            </svg>
          </button>
          <!--  -->
          <svg class="ml-auto" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="25px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2L9.19 8.63L2 9.24l5.46 4.73L5.82 21z" fill="yellow"/>
            <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
          </svg>
          <span class="ml-3 mr-5" v-if="loading">0</span>
          <span class="ml-3 mr-5" v-else>{{ data.rating.poin.toFixed(1) }}</span>
          <!--  -->
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="25px" height="25px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
            <path d="M12 9a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3m0 8a5 5 0 0 1-5-5a5 5 0 0 1 5-5a5 5 0 0 1 5 5a5 5 0 0 1-5 5m0-12.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5z" fill="#626262"/>
            <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
          </svg>
          <span class="ml-3" v-if="loading">0</span>
          <span class="ml-3" v-else>{{ data.jumlah_dibaca }}</span>
          <!--  -->
          <!-- <button class="btn-outline rounded-full flex ml-5" @mouseover="hover=true" @mouseleave="hover=false" @click="bookmark">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="25px" height="25px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
              <path d="M17 3H7a2 2 0 0 0-2 2v16l7-3l7 3V5a2 2 0 0 0-2-2z" :fill="hover?'white':'#2563EB'"/>
              <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
            </svg>
            <span class="ml-3">Bookmark</span>
          </button> -->
        </div>
        <!--  -->
        <div v-if="loading" class="loader md:mb-64 my-8"></div>
        <h1 v-else class="title">
          {{ data.judul }}
        </h1>
        <!--  -->
        <div class="grid grid-cols-12 gap-4 md:mt-16">
          <div class="col-span-3 hidden md:block">
            <h1 class="text-gray-700">Kategori</h1>
            <div v-if="loading" class="loader mt-4"></div>
            <ul v-else class="list-none">
              <li v-for="item in categories" :key="item.text">
                <router-link :to="'/search/'+item.value">{{ item.text }}</router-link>
              </li>
            </ul>
          </div>
          <div class="col-span-12 block md:hidden">
            <Category/>
          </div>
          <div class="col-span-12 content">
            <div v-if="loading" class="loader"></div>
            <template v-else>
              <h1 class="text-gray-700">
                {{ data.penulis }},
                {{ data.tanggal }}
              </h1>
              <!--  -->
              <img :src="data.gambar" alt="materi" class="mt-4 mb-8 w-full md:w-1/2">
              <!--  -->
              <div class="content" v-html="data.materi"></div>
              <!--  -->
              <Quiz :id="id" />
            </template>
          </div>
        </div>
        <Rating v-show="!loading" :data="data"/>
      </div>
    </section>
    <Footer/>
  </main>
</template>

<script>
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import Rating from "@/components/Rating";
import Category from "@/components/Category";
import Quiz from "@/components/Quiz";

import db from '../config/firebase'

export default {
  props: ['id'],
  data: () => ({
    categories: [],
    hover: false,
    loading: false,
    data: {}
  }),
  components: {
    Footer,
    Header,
    Quiz,
    Category,
    Rating
  },
  created() {
    this.loading = true
    const kategori = db.collection('kategori').get()
    const materi = db.collection('materi').doc(this.id).get()
    Promise.all([kategori, materi])
      .then(snapshot => {
        snapshot[0].docs.forEach(category => {
          this.categories.push({
            text: category.data().nama_kategori,
            value: category.id
          })
        })

        const materi = snapshot[1].data()
        this.data = {...materi, id: this.id}
        this.data.tanggal = new Date(this.data.tanggal.seconds * 1000).toLocaleString('id-ID', { year: 'numeric', month: 'long', day: 'numeric' })
        this.data.materi = this.data.materi.map((data, i) => {
          if (i > 0) {
            let result = ''
            if (data.type === 'picture') {
              result = `<img src="${data.value}" alt="gambar materi">`
            } else if (data.type === 'paragraph') {
              result = `<p>${data.value}</p>`
            }
            return result
          }
        }).join('')

        if (!window.sessionStorage.getItem('id_materi') || window.sessionStorage.getItem('id_materi') !== this.id) {
          const jumlah_dibaca = this.data.jumlah_dibaca+1
          db.collection('materi').doc(this.id).update({
            jumlah_dibaca: jumlah_dibaca
          })
          .then(() => {
            this.data.jumlah_dibaca = jumlah_dibaca
            window.sessionStorage.setItem('id_materi', this.id)
            window.localStorage.setItem('materi', JSON.stringify({
              id: this.id,
              judul: this.data.judul
            }))
          })
          .catch(err => console.log(err))
        }
        this.loading = false
      })
      .catch(err => {
        console.log(err)
        this.loading = false
      })
  },
  methods: {
    back() {
      this.$router.go(-1)
    }
  }
}
</script>

<style>
.content ul{
  list-style: disc;
  @apply list-inside;
}
.content .block-code{
  @apply bg-gray-200;
  @apply rounded p-3;
  @apply font-mono;
}
</style>

<style scoped>
ul{
  @apply w-full bg-white rounded py-2;
}
ul li{
  @apply py-2 cursor-pointer transition;
}
ul li:hover{
  @apply text-blue-600;
}
@media (min-width: 768px) {
  .content{
    @apply col-span-8;
  }
}
</style>