<template>
  <div class="w-2/3 block mx-auto">
    <div class="flex items-center p-4 border-b border-gray-200">
      <button class="btn-icon" @click="back">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="25px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
          <path d="M20 11v2H8l5.5 5.5l-1.42 1.42L4.16 12l7.92-7.92L13.5 5.5L8 11h12z" fill="#626262"/>
          <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
        </svg>
      </button>
      <div class="text-xl font-bold text-gray-700 ml-6">
        Selamat mengerjakan kuisnya 
      </div>
      <div class="font-bold ml-auto">
        {{ no+1 }}/{{ kuis.length }}
      </div>
    </div>
    <!--  -->
    <div v-if="loading" class="px-20">
      <div class="loader my-6"></div>
    </div>
    <div v-else-if="getData === undefined" class="px-20">
      <p class="my-6">Maaf soal untuk kuis belum tersedia</p>
      <button @click="back" class="btn-primary">
        kembali ke materi
      </button>
    </div>
    <div v-else class="px-20">
      <p class="my-6">
        <b class="mr-2">{{ no+1 }}.</b>{{ getData.pertanyaan }}
      </p>
      <div 
        v-for="(item, i) in getData.jawaban" :key="i"
        class="mb-4">
        <input 
          type="radio" 
          name="jawaban" 
          :id="i" 
          v-model="selected"
          :value="i"
          class="hidden">
        <label :for="i">
          <div
            class="border border-gray-200 rounded p-3 w-1/2 hover:bg-blue-200 cursor-pointer"
            :class="{ selected: selected===i?true:false }">
            {{ item }}
          </div>
        </label>
      </div>
    </div>
    <div class="flex justify-end mt-16 border-t border-gray-200 py-4">
      <button 
        v-if="selected !== null && no+1 < kuis.length" 
        class="btn-primary bg-green-500 hover:bg-green-600"
        @click="no++;selected=null">
        selanjutnya
      </button>
      <button 
        v-else-if="selected !== null && no+1 === kuis.length" 
        class="btn-primary bg-green-500 hover:bg-green-600"
        @click="done">
        selesai
      </button>
    </div>

    <Score :nilai="score" :active="active" />
  </div>
</template>

<script>
import { mapState } from "vuex";
import Score from '../components/Score'

export default {
  props: ['id'],
  data: () => ({
    no: 0,
    jawaban: [],
    selected: null,
    active: false,
    score: 0
  }),
  components: { Score },
  methods: {
    back () {
      this.$router.go(-1)
    },
    done () {
      const benar = this.kuis.filter((x, i) => x.kunci_jawaban === this.jawaban[i]).length
      this.score = (benar/this.kuis.length)*100
      this.active = true
    }
  },
  created () {
    this.$store.dispatch('getDataKuisByMateri', this.id)
  },
  computed: {
    ...mapState(['kuis', 'loading']),
    getData () {
      return this.kuis[this.no]
    }
  },
  watch: {
    selected (index) {
      this.jawaban[this.no] = index
    }
  }
}
</script>

<style scoped>
.selected{
  @apply border-0;
  @apply text-white;
  @apply bg-blue-500;
}
</style>