<template>
  <div class="dropdown">
    <div class="flex relative items-center cursor-pointer" @click="visible=true">
      <input type="text" placeholder="Pilih kategori" readonly v-model="text">
      <svg style="margin-left: -33px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="25px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
        <path d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6l-6-6l1.41-1.42z" fill="#626262"/>
        <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
      </svg>
    </div>
    <ul v-show="visible" class="list-none dropdown-menu">
      <li v-for="item in category" :key="item.text" @click="visible=false;value=item">
        <router-link :to="'/search/'+item.value">{{ item.text }}</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import db from '../config/firebase'

export default {
  model: {
    prop: 'value',
    event: 'input'
  },
  data: () => ({
    category: [],
    visible: false,
    value: '',
    text: ''
  }),
  created() {
    db.collection('kategori').get()
      .then(snapshot => {
        snapshot.docs.forEach(category => {
          // let currentID = hospital.id
          // let appObj = { ...hospital.data(), ['id']: currentID }
          this.category.push({
            text: category.data().nama_kategori,
            value: category.id
          })
        })
      })
  },
  watch: {
    value(val) {
      this.text = val.text
      this.$emit('input', val.value)
    }
  },
  methods: {
    handleClickOutside(evt) {
      if (!this.$el.contains(evt.target)) {
        this.visible = false;
      }
    },
  },
  mounted() {
    document.addEventListener('click', this.handleClickOutside);
  },
  destroyed() {
    document.removeEventListener('click', this.handleClickOutside);
  },
}
</script>

<style scoped>
.dropdown{
  width: 100%;
  @apply relative;
}
.dropdown input{
  @apply w-full py-2 px-3 border-gray-600 border-2 rounded;
}
.dropdown-menu{
  @apply absolute w-full bg-white rounded shadow py-2;
}
.dropdown-menu li{
  @apply px-4 py-2 cursor-pointer transition;
}
.dropdown-menu li:hover{
  @apply bg-gray-300;
}
</style>