<template>
  <section class="flex justify-between items-center py-4 px-4 bg-blue-200 mt-8">
    <div class="text-xl font-bold text-blue-500">
      Ambil kuis sekarang
    </div>
    <button class="btn-primary" @click="kuis">
      kuis
    </button>
  </section>
</template>

<script>
export default {
  props: ["id"],
  methods: {
    kuis () {
      this.$router.push({name: "kuis", params: {id: this.id}})
    }
  }
}
</script>

<style>

</style>