<template>
  <div class="my-10 md:my-20">
    <center>
      <h1 class="text-xl text-gray-700">Seberapa banyak materi ini membantu ?</h1>
      <div class="flex justify-center mt-4">
        <template v-if="visible">
          <div 
            v-for="(item, i) in 5" :key="i"
            @mouseover="no=i"
            @mouseleave="no=-1"
            @click="rated(i)"
            class="cursor-pointer md:px-2">
            <!-- star -->
            <svg v-if="no >= i || rate >= i" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="50px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
              <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2L9.19 8.63L2 9.24l5.46 4.73L5.82 21z" fill="yellow"/>
              <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
            </svg>
            <!-- star outline -->
            <svg v-else xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="50px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
              <path d="M22 9.24l-7.19-.62L12 2L9.19 8.63L2 9.24l5.46 4.73L5.82 21L12 17.27L18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27l1-4.28l-3.32-2.88l4.38-.38L12 6.1l1.71 4.04l4.38.38l-3.32 2.88l1 4.28L12 15.4z" fill="yellow"/>
              <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
            </svg>
          </div>
        </template>
        <div v-else>Terima kasih atas penilainnya</div>
      </div>
    </center>
  </div>
</template>

<script>
import db from '../config/firebase'

export default {
  props: ['data'],
  data: () => ({
    no: -1,
    rate: -1,
    visible: true
  }),
  methods: {
    rated(i) {
      this.rate = i+1
      const jumlah = this.data.rating.jumlah+1
      const poin = (this.data.rating.poin + this.rate) / jumlah
      db.collection('materi').doc(this.data.id).update({
        rating: {
          jumlah: jumlah,
          poin: poin
        }
      })
      .then(() => this.visible = false)
      .catch(err => console.log(err))
    }
  }
}
</script>

<style>

</style>