<template>
  <section 
    class="fixed w-full h-full bg-black bg-opacity-30 items-center justify-center top-0 right-0"
    :style="{display: active?'flex':'none'}">
    <div class="bg-white rounded max-w-md py-4 px-6 text-center">
      <div class="text-9xl font-bold text-yellow-400">{{ parseInt(Math.round(nilai)) }}</div>
      <p class="my-6 text-3xl font-bold">Selamat sudah menyelesaikan kuis</p>
      <button @click="back" class="btn-primary">
        kembali ke materi
      </button>
    </div>
  </section>
</template>

<script>
export default {
  props: ['nilai', 'active'],
  methods: {
    back () {
      this.$router.go(-1)
    }
  },
}
</script>

<style>

</style>