@tailwind base;

@tailwind components;

.header{
  height: 72px;
  @apply flex justify-between items-center;
}

.title{
  @apply text-5xl font-bold capitalize leading-tight my-8;
}
@media (max-width: 400px) {
  .title{
    @apply text-2xl;
  }
}
.btn-outline{
  @apply py-2 px-4 border-blue-600 border-2 transition;
  @apply uppercase font-bold tracking-wide text-blue-600;
}
.btn-outline:hover{
  @apply bg-blue-600 text-white;
}
.btn-outline:focus{
  @apply outline-none;
}

.btn-icon{
  width: 40px;
  height: 40px;
  @apply rounded-full bg-white flex justify-center items-center transition;
}
.btn-icon:focus{
  @apply outline-none;
}
.btn-icon:hover{
  @apply bg-gray-300;
}

.btn-primary{
  @apply py-2 px-4 bg-blue-600 transition;
  @apply uppercase font-bold tracking-wide text-white;
}
.btn-primary:hover{
  @apply bg-blue-700;
}
.btn-primary:focus{
  @apply outline-none;
}

.btn-primary.white{
  @apply bg-white;
  @apply text-blue-600;
}

.loader{
  @apply bg-gray-300; 
  @apply animate-pulse;
  @apply rounded-full;
  @apply w-full;
  @apply h-6;
}

@tailwind utilities;